DISCORD_TOKEN=your_discord_application_token
BOT_OWNER_ID=bot_owner_id
USER_A_ID=id_of_a_user
USER_B_ID=id_of_a_user
USER_C_ID=id_of_a_user
USER_D_ID=id_of_a_user
USER_F_ID=id_of_a_user
USER_G_ID=id_of_a_user
CHANNEL_ID=id_of_a_voice_channel
